header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.125em;
    
    h1 {
        font-family: $primaryfont;
        font-weight: $bold;
        font-size: $body;
        font-size: $heading;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: $verylightgray;
    }

    img {
        width: 1.5em;
        height: 1.5em;
        object-fit: contain;
        cursor: pointer;
    }
}