.input {
    display: flex;
    position: relative;

    img {
        position: absolute;
        padding: 0.825em;

    }
    
    input {
        flex: 1;
        border: none;
        padding: 1.25em 0;
        padding-left: 3.5em;
        border-radius: $borderRadius;
        font-family: $primaryfont;
    }
}