$brightblue: hsl(220, 98%, 61%);
$checkbg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

// Light theme
$verylightgray: hsl(0, 0%, 98%);
$verylightgrayblue: hsl(236, 33%, 92%);
$lightgrayblue: hsl(233, 11%, 84%);
$darkgrayblue: hsl(236, 9%, 61%);
$verydarkgrayblue: hsl(235, 19%, 35%);

// Dark theme
$verydarkblue: hsl(235, 21%, 11%);
$verydarkdesatblue: hsl(235, 24%, 19%);
$dtlightgrayblue:  hsl(234, 39%, 85%);
$dtlightgraybluehov: hsl(236, 33%, 92%);
$dtdarkgrayblue: hsl(234, 11%, 52%);
$dtverydarkgrayblue: hsl(237, 14%, 26%);

// Font size
$body: 1.125em;
$heading: 1.667em;

// Font type
$primaryfont: 'Josefin Sans', sans-serif;
$regular: 400;
$bold: 700;
