html {
  font-size: rem(16);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0 1.5em;
  line-height: 1.3;
  background-image: url("../images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.125em;
}

header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  font-size: 1.667em;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #fafafa;
}

header img {
  width: 1.5em;
  height: 1.5em;
  object-fit: contain;
  cursor: pointer;
}

.input {
  display: flex;
  position: relative;
}

.input input {
  flex: 1;
  border: none;
  padding: 1.25em 0;
  padding-left: 3.5em;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
}

.todos {
  font-family: "Josefin Sans", sans-serif;
}

.todos ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0px 9px 50px -10px rgba(0, 0, 0, 0.25);
}

.todos ul li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 0.8em;
  padding: 1.25em;
  border-bottom: 1px solid #d2d3db;
  color: #484b6a;
  position: relative;
}

.todos ul li input[type='checkbox'] {
  position: absolute;
  left: 1.25em;
  opacity: 0;
}

.todos ul li:first-child {
  margin-top: 1em;
}

.todos ul li p {
  padding-left: .75em;
  margin: 0;
  flex: 1;
  text-align: left;
}

.todos ul li p.completed {
  text-decoration: line-through;
  color: #9394a5;
}

.todos ul li img:last-child {
  width: 12px;
  height: 12px;
}

.todos ul li:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9394a5;
  border-bottom: none;
}

.todos ul li:last-child p:last-child {
  text-align: right;
}

.filter {
  margin-top: 1em;
  font-family: "Josefin Sans", sans-serif;
}

.filter ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  list-style-type: none;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 9px 50px -10px rgba(0, 0, 0, 0.25);
}

.filter ul li {
  padding: 1.25em;
  font-size: 0.8em;
  font-weight: 700;
  color: #9394a5;
}

.filter ul li.active {
  color: #3a7bfd;
}

.filter .instructions {
  margin-top: 2em;
  font-size: 0.8em;
  color: #484b6a;
  text-align: center;
}
